.link {
    color: black;
    text-decoration: none;
    padding: 14px 114px;
    margin-right: 40px;
    background-color: lightgray;
    border: solid 1px black;
}

.active-link {
    color: black;
    text-decoration: none;
    background-color: darkgray;
    padding: 14px 114px;
    margin-right: 40px;
    border: solid 1px black;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 300px;
}